<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there, here is your latest newsletter.</h1>
    <%== @newsletter_body %>
    <p>Have a great day!</p>
  </body>
</html>