<div class="four columns alpha">
  <div class="action">
    <a href="#" class="button" id="create-newsletter">Create Newsletter</a>
  </div><br>
  <ul id="archieve-list">
    <%= render @newsletters %>
    <li id="pagination-indicator">
      <a href="#">See more...</a>
    </li>
  </ul>
  
  <div style="display: none;">
    <%= paginate @newsletters %>
  </div>
</div>


<div class="twelve columns omega" id='main-container'>
  <%= render 'form' %>
  <div id="mail-detail" style="overflow: auto;">
  </div>
</div>

<script type="text/javascript">
  $('#archieve-list').on('click', '#pagination-indicator a', function(e) {
    e.preventDefault();
    var url = $('a[rel=next]').attr('href');

    $(this).text('Fetching');
    $('.pagination').text('Fetching more products...');
    $.getScript(url);
  });

  $('#archieve-list').on('click', '.archive-item', function(e) {
    e.preventDefault();
    $('form').hide();
    var url = $(this).attr('href').replace('#', '');
    console.log(url);
    $.get(url).then(function(data) {
      $('#mail-detail').html(data);
    });
  });

  $('#create-newsletter').click(function(e) {
    e.preventDefault();
    $('form').show();
    $('#mail-detail').empty();
  });

</script>